/*body{*/

/*    background-image: url(../img/alphabet-bg.jpg);*/

/*    background-size:cover;*/

/*}*/

body::before {
    background-image: url(../img/alphabet-bg.jpg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}

.content-body,
.container {
    height: calc(100vh - 60px);
}

.navbar-brand {
    font-family: 'Bangers', cursive;
    color: #5d5d5d;
}

.instruction {
    color: #a2a2a2;
    margin-bottom: -20px;
}

.scrambled-Letters {
    font-weight: 900;
    font-size: 4.8em;
    text-transform: uppercase;
    color: #5d5d5d;
    letter-spacing: 60px;
}

.navbar-transparent {
    background-color: #f5f6f7d1 !important;
}

.user_input_txt {
    font-size: 27px !important;
    background-color: #ffffffad !important;
    border: none !important;
    border-radius: 30px !important;
    padding: 35px!important;

}

.custom_submit_btn {
    position: absolute !important;
    right: 0px !important;
    height: 100% !important;
    border-radius: 33px !important;
    border: none !important;
    padding: 0 23px !important;
    font-size: 35px !important;

}

.tag-words {
    margin: 0 30px;
}

.tag-words span {
    padding: 5px;
    margin: 5px;
    opacity: 0.6;
}

.hide {
    display: none !important;
}

#start_game {
    border-radius: 33px !important;
    margin: 27px auto;
    width: 33%;
    background-color: #ffffffd4;
}

#start_game:hover {
    background-color: #17a2b8;
    color: #ffffff;
}

.navbar-text {
    margin: 0;
    padding: 0;
}

.score-link a{
    color: #17a2b8;
}