<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="{{ url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <title>Home Page</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-transparent">
            <span class="navbar-brand mb-0 h1">Scramble Words</span>
            <p class="navbar-text">
                <span class=" text-right username-display"></span>
                <a href="{{ url_for('top_ten') }}" class="navbar-text text-right">Top Scores</a>
            </p>
        </nav>
    </header>
    <section class="content-body">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div class="col-md-12 game-body">
                    <button type="button" id="start_game" class="btn btn-outline-info btn-lg btn-block" onclick="check_user_answer()">Start Game</button>
                    <p class="text-center instruction hide">Get Tow correct words from the following exact Letters</p>
                    <p class="scrambled-Letters text-center hide"></p>
                    <div class="input-group">
                        <input type="text" class="form-control user_input_txt" id="user_input" name="user_input" placeholder="Type Here .." aria-describedby="button-addon2" disabled="disabled">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary custom_submit_btn" type="button" id="submit" onclick="check_user_answer()"><i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                    <div class="tag-words">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- User Info Modal -->
    <div class="modal fade" id="user_info_modal" tabindex="-1" role="dialog" aria-labelledby="user_info_modal" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Your Information</h5>
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div class="modal-body">
                    <!--<form id="user_info_form" method="POST" novalidate>-->
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Full Name" required>
                        <small id="username-help" class="form-text text-muted">Enter your full name to save your SCORE.</small>
                        <button type="button" id="userinfo-btn" class="btn btn-primary" onclick="get_user_info1()">Save</button>
                    </div>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js')}}"></script>

</body>

</html>

<script type="text/javascript">
    var user_answers_list = [];
    var user_level = 0;
    var chances_counter = 2;
    
    // get user info API to save username in a file 
    function get_user_info1() {
        var username = $("#username").val();
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                $("#user_info_modal").modal('hide');
                $(".username-display").text("Howdy " + this.responseText.replace('\"', '').replace('\"', ''));
            }
        };
        xhttp.open("POST", "{{url_for('display_user')}}" + "?username=" + username, true);
        xhttp.send();
    }


    // API to get level and choose the riddle accordingly 
    function get_user_level() {
        if (user_answers_list.length == 0) {
            user_level = 1;
            return user_level;
        }
        else {
            var list_len = user_answers_list.length;
            if (list_len % 2 > 0) {
                user_level = Math.round(list_len / 2);
                return user_level;
            }
            else {
                user_level = (list_len / 2) + 1;
                return user_level;
            }
        }
    }

    // API get the randomly selected word according the level number 
    function get_selected_word() {
        var user_level = get_user_level();
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var word = this.responseText;
                $(".scrambled-Letters").text(word.replace(/["']/g, ""));
            }
        };
        xhttp.open("POST", "{{url_for('show_selected_word')}}" + "?userlevel=" + user_level, true);
        xhttp.send();
    }

    // API to get the if user loses the game according the chance counter and save the score 
    function game_over(chances_counter) {
        var user_name = $(".username-display").text();
        var game_is_over = false;
        if (chances_counter == 0) {
            game_is_over = true;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState == 4 && this.status == 200) {
                    var response_game = (this.responseText);
                }
            };
            xhttp.open("POST", "{{url_for('print_score')}}" + "?game_is_over=" + game_is_over + "&user_answers_list=" + user_answers_list.length + "&user_name=" + user_name, true);
            xhttp.send();
        }
    }

    // API to get if user win the game and show edit the template accordingly
    function game_wining(user_answers_list) {
        var user_name = $(".username-display").text();
        if (user_answers_list.length == 14) {
            $(".instruction").text("Congratulations You Win" + " your score is ( " + user_answers_list.length + " )").css("font-size", "2rem");
            $(".instruction").css("margin-bottom", "0");
            $(".scrambled-Letters").addClass("hide")
            $("#user_input").addClass("hide");
            $("#submit").addClass("hide");
            $(".tag-words").addClass("hide");
            $(".game-body").append("<p class='text-center score-link '><strong><a href='{{ url_for('top_ten') }}'> Check your score</a></strong></p>");
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var response_game = (this.responseText);
                }
            };
            xhttp.open("POST", "{{url_for('game_winner')}}" + "?&user_answers_list=" + user_answers_list.length + "&user_name=" + user_name, true);
            xhttp.send();
        }
    }


    // API check user answer 
    function check_user_answer() {

        $(".instruction").text("Get Tow correct words from the following exact Letters").css("color", "#5d5d5d");
        var user_name = $(".username-display").text();
        var user_input = $("#user_input").val();
        var xhttp = new XMLHttpRequest();
        if (user_input == "") {
            get_selected_word();
        }
        else {
            $("#submit").removeAttr("disabled");
            var scrambled_Letters = $(".scrambled-Letters").text();
            var answer_num = 0;
            if (user_answers_list.length % 2 == 0) {
                answer_num = 0;
            }
            else { answer_num = 1; }

            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var answer_resullt = this.responseText;
                    if (answer_num == 0) {
                        if (answer_resullt.replace('\n', '') == "true") {
                            user_answers_list.push(user_input);
                            $(".instruction").text("Great !! Add the second word now. " + "your score is ( " + user_answers_list.length + " )").css("color", "green");
                            $("#user_input").val("").focus();
                            $(".tag-words").append("<span class='badge badge-pill badge-dark'>" + user_input + "</span>");
                            game_wining(user_answers_list);
                        }
                        else {
                            chances_counter -= 1;
                            user_input = "";
                            $("#user_input").val("").focus();

                            if (chances_counter == 1) {
                                $(".instruction").text("Answer is not corret " + "your score is " + user_answers_list.length + "you have (" + chances_counter + ") chance(s)").css("color", "orange");
                                game_over(chances_counter);
                            }

                            if (chances_counter == 0) {
                                $(".instruction").text("Game over" + " your score is ( " + user_answers_list.length + " ) you have (" + chances_counter + ") chance(s)").css("color", "red");
                                game_over(chances_counter);
                                $("#start_game").removeClass("hide");
                                $(".instruction").css("margin-bottom", "12px");
                                $(".scrambled-Letters").addClass("hide");
                                $("#user_input").attr("disabled");
                                user_answers_list = [];
                                $("#user_input").val("").focus();
                                chances_counter = 2;
                            }
                        }
                    }
                    if (answer_num == 1) {
                        if (answer_resullt.replace('\n', '') == "false") {
                            chances_counter -= 1;
                            user_input = "";
                            $("#user_input").val("").focus();
                            if (chances_counter == 1) {
                                $(".instruction").text("Answer is not corret " + "your score is " + user_answers_list.length + "you have (" + chances_counter + ") chance(s)").css("color", "orange");
                                game_over(chances_counter);
                            }
                            if (chances_counter == 0) {
                                $(".instruction").text("Game over" + " your score is ( " + user_answers_list.length + " ) you have (" + chances_counter + ") chance(s)").css("color", "red");
                                game_over(chances_counter);
                                $("#start_game").removeClass("hide");
                                $(".instruction").css("margin-bottom", "12px");
                                $(".scrambled-Letters").addClass("hide");
                                $("#user_input").attr("disabled");
                                user_answers_list = [];
                                $("#user_input").val("").focus();
                                chances_counter = 2;
                            }
                        }
                        else {
                            user_answers_list.push(user_input);
                            $(".instruction").text("Correct " + "your score is( " + user_answers_list.length + " )").css("color", "green");
                            $("#user_input").val("").focus();
                            get_selected_word();
                            $(".tag-words").append("<span class='badge badge-pill badge-dark'>" + user_input + "</span>");
                            game_wining(user_answers_list);
                        }

                    }
                }
            };
        }
        xhttp.open("POST", "{{url_for('check_user_answer')}}" + "?answer_num=" + answer_num + "&user_input=" + user_input + "&userlevel=" + user_level + "&scrambled_Letters=" + scrambled_Letters + "&chances_counter=" + chances_counter + "&user_answers_list=" + user_answers_list + "&user_name=" + user_name, true);
        xhttp.send();
    }
</script>
